<ion-header>
  <ion-navbar color="void">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center *ngIf="loadCompleted().length === 0">
    You haven't completed any tasks!    
  </h3>

  <ion-list>

    <ion-item-sliding *ngFor="let task of loadCompleted(); let i = index">
      <ion-item color="void">
        <h2>{{task.taskname}}</h2>
        <p>{{task.duedate}}</p>
      </ion-item>
      <ion-item-options>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
